<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumebox</title>
    <link rel="stylesheet" href="resume.css">
</head>
<body>
        <img class="avatar" src="https://i.ibb.co/kQyry8d/172403893-1431016033911532-3981480772635706120-n.jpg" alt="avatar"><img</a></p>
        <h1>Ertito Clint Mark D. Alaba</h1>
        <h2>A BS-Information Technology Student</h2>
        <p>With the skills of java script, Web developing.</p>
        <p>A harworking and have the professionals skils needed to acheive goals</p>
        <p>Address: Purok-3 San Jose Libona Bukidnon</p>
        <p><a href="sun_Spoter@yahoo.com">Email : sun_Spoter@yahoo.com</a></p>
        <p>Phone : 09274128577</p>

        <br>

        <br>
        
        <br>
        

    
    <button class="home-btn" onclick="window.location.href='../index.html'">Go Home</button>
</body>
</html>